// min-width
$breakpoint-up: (
    "sm": "(min-width: 320px)",
    "md": "(min-width: 560px)",
    "lg": "(min-width: 960px)",
) !default;

// max-width
$breakpoint-down: (
    "md": "(max-width: 559px)",
    "lg": "(max-width: 959px)",
) !default;

// @mixinの定義
@mixin md-down($breakpoint: md) {
    @media screen and #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

// 画面設計でデザインした画面のwidthとheight
$screen-width: 375;
$screen-height: 812;

// 画面設計上のpxの数値部分を引数に入れると、自動でvwとvhに変換してくれる関数
@function px-to-vw($px-num) {
    $vw: $px-num / $screen-width * 100;
    @return #{$vw}vw;
}

@function px-to-vh($px-num) {
    $vh: $px-num / $screen-height * 100;
    @return #{$vh}vh;
}

@mixin keyframes($animation-name: animaton) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($animation-name) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}
