@import "variables";

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    //1rem=10pxってこと
}

body {
    width: 100%;
    height: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.form-btn {
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.input-box {
    padding: 4px 12px;
    border: solid 1px $navy;
    border-radius: 8px;
    font-size: 1.2rem;
    height: px-to-vw(26);
    next &::placeholder {
        color: $light-gray;
    }
    &:focus {
        outline: none;
    }
}

.plus-input-box {
    $fontSize: 1.2rem;
    $right: px-to-vw(8);
    position: relative;
    &__input {
        width: 100%;
        padding-right: calc(#{$fontSize} + #{$right});
    }
    &__plus {
        position: absolute;
        top: px-to-vw(7);
        right: #{$right};
        font-size: $fontSize;
        color: $navy;
    }
}

.post-tag {
    display: inline-flex;
    height: px-to-vw(26);

    margin-bottom: px-to-vw(10);
    margin-right: px-to-vw(10);
    padding: 0 10px;
    border-radius: 7px;
    background-color: $light-blue;
    color: $white;
    justify-content: space-between;
    align-items: center;

    %__name {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    &__name {
        @extend %__name;
        &--post {
            @extend %__name;
            margin-right: 10px;
        }
    }
}

.post {
    &__btn-wrap {
        width: px-to-vw(234);
        height: px-to-vw(26);
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__return {
        width: px-to-vw(103);
        color: white;
        background-color: $light-blue;
    }
    &__next {
        width: px-to-vw(103);
        color: white;
    }
}

.comment-area {
    &__textarea {
        &:focus {
            outline: none;
        }
    }
}
