@import "variables";

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    //1rem=10pxってこと
}

body {
    width: 100%;
    height: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.form-btn {
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.input-box {
    padding: 4px 12px;
    border: solid 1px $navy;
    border-radius: 8px;
    font-size: 1.2rem;
    height: px-to-vw(26);
    next &::placeholder {
        color: $light-gray;
    }
    &:focus {
        outline: none;
    }
}

.post-tag {
    display: inline-flex;
    height: px-to-vw(26);

    margin-bottom: px-to-vw(10);
    margin-right: px-to-vw(10);
    padding: 0 10px;
    border-radius: 7px;
    background-color: $light-blue;
    color: $white;
    justify-content: space-between;
    align-items: center;

    %__name {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    &__name {
        @extend %__name;
        &--post {
            @extend %__name;
            margin-right: 10px;
        }
    }
}
