@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .home {
        padding-top: $header-top;
    }

    .new-posts {
        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .new-card {
        position: relative;
        width: px-to-vw(166);
        height: px-to-vw(193); // 高さは幅に依存させる
        margin-bottom: px-to-vh(25);
        border-radius: 17px;
        &:before {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 17px;
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.74) -3.2%,
                rgba(255, 255, 255, 0.63) 79%,
                rgba(255, 255, 255, 0.52) 102%,
                rgba(255, 255, 255, 0.4) 126%,
                rgba(255, 255, 255, 0.29) 155%
            );
            content: "";
        }

        &__go-to {
            position: relative;
            z-index: 1;
        }

        &__bookmark {
            position: relative;
            z-index: 1;
        }

        &__favorite {
            position: relative;
            z-index: 1;
        }

        &__itinerary {
            position: relative;
            z-index: 1;
        }
    }
}

.popular-posts {
    color: $navy;
    margin-top: px-to-vh(25);
}
.popular-posts__title {
    font-size: 1.4rem;
    letter-spacing: px-to-vw(5);
    text-align: center;
}
.popularcard {
    width: px-to-vw(347);
    overflow: hidden;
    margin: 0 auto 0px;
}
.popular-card {
    width: px-to-vw(347);
    height: px-to-vh(193);
    background-size: cover;
    border-radius: px-to-vw(17);
    margin: px-to-vh(26) auto 0px; //これと
    //text-align: center;
    display: flex;
    flex-direction: row;

    &header {
        z-index: 1;
        position: relative;
    }

    &__ninki_whithbg {
        z-index: 2;
        position: relative;
        img {
            width: px-to-vw(347);
            height: px-to-vh(193);
        }
    }

    &__go-to {
        margin-top: 0;
        z-index: 5;
        position: relative;
        left: px-to-vw(-343);
        top: px-to-vh(-18);
    }

    &__defaultform {
        width: px-to-vw(136);
        height: px-to-vh(189);
        z-index: 4;
        position: relative;
        left: px-to-vw(-150);
        top: px-to-vh(-18);
        &__bookmar {
            color: rgba(188, 219, 232, 0.7);
            &:hover {
                color: $navy;
            }
            &:focus {
                outline: none;
            }
        }
        &__favorite {
            color: $orange;
            &:visited {
                color: yellow;
            }
        }
    }
}
