@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .home-screen {
        padding-top: $header-top;
    }

    .popular-posts {
        margin-top: px-to-vh(25);
        color: $navy;

        &__title {
            font-size: 1.4rem;
            letter-spacing: px-to-vw(5);
            text-align: center;
        }
    }

    .popular-card {
        width: px-to-vw(347);
        height: px-to-vw(193);
        margin: 0 auto;

        &__wrap {
            position: relative;
            width: px-to-vw(347);
            height: px-to-vw(193); // 高さは幅に依存させる
            margin: px-to-vh(26) auto 0px;
            background-size: cover;
            border-radius: px-to-vw(17);
        }

        &__white-bg-wrap {
            z-index: 1;
            position: absolute;
        }

        &__white-bg {
            width: px-to-vw(347);
            height: px-to-vw(193); // 高さは幅に依存させる
        }

        &__go-to {
            position: relative;
            z-index: 1;
            top: px-to-vh(-18);
            left: px-to-vw(4);
        }

        &__right-wrap {
            z-index: 1;
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: px-to-vw(13);
            width: px-to-vw(136);
            height: px-to-vh(189);
            justify-content: space-between;
        }

        &__itinerary-wrap {
            width: px-to-vw(112);
            margin-top: px-to-vw(17);
        }

        &__icon-wrap {
            z-index: 1;
            display: flex;
            position: relative;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }

        &__bookmark {
            position: relative;
            top: px-to-vh(-3);
            font-size: 3.1rem;
            color: rgba(0, 54, 102, 0.1);

            &:hover {
                color: $navy;
            }
            &:focus {
                outline: none;
            }
        }
        &__favorite {
            position: relative;
            bottom: px-to-vh(-8);
            margin-bottom: 0;
        }
        &__favorite-btn {
            position: relative;
            color: $orange;
            font-size: 2.4rem;
            &:visited {
                color: $yellow;
            }
        }

        &__favorite-number {
            color: $orange;
            text-align: center;
        }
    }

    %itinerary-in-card {
        height: px-to-vh(58);
    }

    .itinerary-in-card {
        @extend %itinerary-in-card;

        &__gradation-wrap {
            background-image: linear-gradient(
                to bottom,
                $navy 0%,
                rgba(0, 0, 0, 0)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__place {
            height: px-to-vh(25);
            margin: px-to-vh(6) 0;
        }

        &__pin {
            float: left;
            width: px-to-vw(18);
            height: auto;
            margin-right: px-to-vw(6);
        }

        &__place-name {
            font-size: 1.4rem;
            font-weight: bold;
        }

        %__line {
            position: relative;
            left: px-to-vw(7);
            width: 2px;
            height: px-to-vh(21);
        }

        &__line {
            @extend %__line;
            background-color: $navy;
            &--gradation-0 {
                @extend %__line;
                background: linear-gradient(
                    to bottom,
                    rgba($navy, 0.865),
                    rgba($navy, 0.673)
                );
            }
            &--gradation-1 {
                @extend %__line;
                background: linear-gradient(
                    to bottom,
                    rgba($navy, 0.4403),
                    rgba($navy, 0.3082)
                );
            }
            &--gradation-2 {
                @extend %__line;
                background: linear-gradient(
                    to bottom,
                    rgba($navy, 0.0754),
                    rgba($navy, 0)
                );
            }
        }
    }

    .new-posts {
        margin-top: px-to-vh(45);
        color: $navy;
        &__title {
            font-size: 1.4rem;
            letter-spacing: px-to-vw(5);
            text-align: center;
        }
        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .new-card {
        margin: px-to-vh(17) auto 0px;
        &__go-to-wrap {
            height: 0;
        }

        &__go-to {
            position: relative;
            z-index: 1;
            top: px-to-vh(-5);
            left: px-to-vw(4);
            width: px-to-vw(49);
            height: px-to-vw(27);
        }

        &__wrap {
            position: relative;
            width: px-to-vw(166);
            height: px-to-vw(193); // 高さは幅に依存させる
            border-radius: px-to-vw(17);
            background-size: cover;
            &:before {
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.9),
                    rgba(255, 255, 255, 0.8),
                    rgba(255, 255, 255, 0.55)
                );
                content: "";
            }
        }

        &__itinerary-wrap {
            z-index: 2;
            position: relative;
            top: px-to-vw(17);
            left: 0;
            width: calc(100% - #{px-to-vw(16)} * 2);
            height: px-to-vw(159);
            margin: 0 px-to-vw(16);
        }

        &__icon-wrap {
            display: flex;
            position: relative;
            top: -#{px-to-vw(159)};
            right: 0;
            height: 100%;
            margin-right: px-to-vw(14);
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__bookmark {
            position: relative;
            top: px-to-vh(-3);
            font-size: 3.1rem;
            color: rgba(0, 54, 102, 0.1);

            &:hover {
                color: $navy;
            }
            &:focus {
                outline: none;
            }
        }

        &__favorite {
            position: relative;
            bottom: px-to-vh(-8);
            margin-bottom: 0;
        }

        &__favorite-btn {
            position: relative;
            font-size: 2.4rem;
            color: $orange;
            &:visited {
                color: $yellow;
            }
        }
        &__favorite-number {
            color: $orange;
            text-align: center;
        }
    }
}
