@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .home-screen {
        padding-top: $header-top;
    }

    // ↓コンさん担当エリア
    .popular-posts {
        color: $navy;
        margin-top: px-to-vh(25);

        &__title {
            font-size: 1.4rem;
            letter-spacing: px-to-vw(5);
            text-align: center;
        }
    }

    .popular-card {
        width: px-to-vw(347);
        height: px-to-vw(193);
        margin: 0 auto;
        &__wrap {
            z-index: 2;
            display: flex;
            width: px-to-vw(347);
            height: px-to-vw(193); // 高さは幅に依存させる
            margin: px-to-vh(26) auto 0px;
            background-size: cover;
            border-radius: px-to-vw(17);
            flex-direction: row;
            justify-content: space-between;
        }

        &__white-bg-wrap {
            z-index: 1;
            position: absolute;
        }

        &__white-bg {
            width: px-to-vw(347);
            height: px-to-vw(193); // 高さは幅に依存させる
        }

        &__go-to {
            position: relative;
            z-index: 1;
            top: px-to-vh(-18);
            left: px-to-vw(4);
        }
        &__wrap-itineraryicon {
            width: px-to-vw(136);
            height: px-to-vh(189);
            position: relative;
            left: px-to-vw(-14);
        }

        &__itinerary-wrap {
            width: px-to-vw(105);
            height: px-to-vh(159);
            margin-right: px-to-vw(7);
            margin-top: px-to-vh(12);
            position: relative;
            float: left;
            z-index: 1;

            //fadeout途中
            background-image: linear-gradient(
                to bottom,
                $navy 0%,
                rgba(0, 0, 0, 0)
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            opacity: 0.6;
            filter: alpha(opacity=60);
            -moz-opacity: 0.6;
            -khtml-opacity: 0.6;
            //ここまでfadeout
        }
        .itinerary-in-card {
            height: px-to-vh(58);

            &__place {
                height: px-to-vh(25);
                margin: px-to-vh(6) 0;
            }
            &__pin {
                width: px-to-vw(18);
                height: auto;
                float: left;
                margin-right: px-to-vw(6);
            }
            &__place-name {
                font-size: 1.4rem;
                font-weight: bold;
            }
            &__line {
                height: px-to-vh(21);
                width: auto;
                border-left: solid px-to-vw(2);
                position: relative;
                left: px-to-vw(7);
            }
        }

        &__icon-wrap {
            display: flex;
            position: relative;
            z-index: 1;
            height: 100%;

            flex-direction: column;
            justify-content: space-between;
        }

        &__bookmark {
            font-size: 3.1rem;
            color: rgba(0, 54, 102, 0.1);
            position: relative;
            top: px-to-vh(-3);

            &:hover {
                color: $navy;
            }
            &:focus {
                outline: none;
            }
        }
        &__favorite {
            position: relative;
            margin-bottom: 0;
            bottom: px-to-vh(-8);
        }
        &__favorite-btn {
            position: relative;
            font-size: 2.4rem;
            color: $orange;
            &:visited {
                color: $yellow;
            }
        }

        &__favorite-number {
            color: $orange;
            text-align: center;
        }
    }

    // ↓大田担当エリア
    .new-posts {
        color: $navy;
        margin-top: px-to-vh(45);
        &__title {
            font-size: 1.4rem;
            letter-spacing: px-to-vw(5);
            text-align: center;
        }
        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .new-card {
        position: relative;
        width: px-to-vw(166);
        height: px-to-vw(193); // 高さは幅に依存させる
        margin: px-to-vh(26) auto 0px;
        border-radius: px-to-vw(17);
        background-size: cover;
        &:before {
            //z-index: 2;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.8),
                rgba(255, 255, 255, 0.55)
            );
            content: "";
        }

        &__go-to {
            width: px-to-vw(49);
            height: px-to-vw(27);
            position: relative;
            z-index: 1;
            top: px-to-vh(-10);
            left: px-to-vw(4);
        }
        &__wrap-itineraryicon {
            width: px-to-vw(136);
            height: px-to-vh(189);
            position: relative;
            margin: auto;
            top: px-to-vh(-27);
            z-index: 2;
        }
        &__itinerary {
            width: px-to-vw(105);
            height: px-to-vh(159);
            margin-right: px-to-vw(7);
            margin-top: px-to-vh(12);
            position: relative;
            float: left;
            //z-index: 1;
        }

        .itinerary-in-card {
            height: px-to-vh(58);

            &__place {
                height: px-to-vh(25);
                margin: px-to-vh(6) 0;
            }
            &__pin {
                width: px-to-vw(18);
                height: auto;
                float: left;
                margin-right: px-to-vw(6);
            }
            &__place-name {
                font-size: 1.4rem;
                font-weight: bold;
            }
            &__line {
                height: px-to-vh(21);
                width: auto;
                border-left: solid px-to-vw(2);
                position: relative;
                left: px-to-vw(7);
            }
        }
        &__icon-wrap {
            display: flex;
            position: relative;
            //z-index: 1;
            height: 100%;
            margin-right: 0;
            flex-direction: column;
            justify-content: space-between;
        }
        &__bookmark {
            font-size: 3.1rem;
            color: rgba(0, 54, 102, 0.1);
            position: relative;
            top: px-to-vh(-3);

            &:hover {
                color: $navy;
            }
            &:focus {
                outline: none;
            }
        }

        &__favorite {
            position: relative;
            margin-bottom: 0;
            bottom: px-to-vh(-8);
        }

        &__favorite-btn {
            position: relative;
            font-size: 2.4rem;
            color: $orange;
            &:visited {
                color: $yellow;
            }
        }
        &__favorite-number {
            color: $orange;
            text-align: center;
        }
    }
}
