@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .home {
        padding-top: $header-top;
    }

    // ↓コンさん担当エリア
    .popular-posts {
        color: $navy;
        margin-top: px-to-vh(25);

        &__title {
            font-size: 1.4rem;
            letter-spacing: px-to-vw(5);
            text-align: center;
        }
    }

    .popular-card {
        width: px-to-vw(347);
        height: px-to-vw(193);
        margin: 0 auto;
        &__wrap {
            z-index: 2;
            display: flex;
            width: px-to-vw(347);
            height: px-to-vw(193); // 高さは幅に依存させる
            margin: px-to-vh(26) auto 0px;
            background-size: cover;
            border-radius: px-to-vw(17);
            flex-direction: row;
            justify-content: space-between;
        }

        &__white-bg-wrap {
            z-index: 1;
            position: absolute;
        }

        &__white-bg {
            width: px-to-vw(347);
            height: px-to-vw(193); // 高さは幅に依存させる
        }

        &__go-to {
            position: relative;
            z-index: 1;
            top: px-to-vh(-18);
            left: px-to-vw(-4);
        }

        &__itinerary {
            position: relative;
            z-index: 1;
        }

        &__icon-wrap {
            display: flex;
            position: relative;
            z-index: 1;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }

        &__bookmark {
            font-size: 3.1rem;
            color: rgba(188, 219, 232, 0.7);
            &:hover {
                color: $navy;
            }
            &:focus {
                outline: none;
            }
        }
        &__favorite-btn {
            position: relative;
            font-size: 2.4rem;
            color: $orange;
            &:visited {
                color: $yellow;
            }
        }
    }

    // ↓大田担当エリア
    .new-posts {
        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    .new-card {
        position: relative;
        width: px-to-vw(166);
        height: px-to-vw(193); // 高さは幅に依存させる
        margin-bottom: px-to-vh(25);
        border-radius: 17px;
        &:before {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 17px;
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.74) -3.2%,
                rgba(255, 255, 255, 0.63) 79%,
                rgba(255, 255, 255, 0.52) 102%,
                rgba(255, 255, 255, 0.4) 126%,
                rgba(255, 255, 255, 0.29) 155%
            );
            content: "";
        }

        &__go-to {
            position: relative;
            z-index: 1;
        }

        &__bookmark {
            position: relative;
            z-index: 1;
        }

        &__favorite {
            position: relative;
            z-index: 1;
        }

        &__itinerary {
            position: relative;
            z-index: 1;
        }
    }
}
