@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .itinerary-detail {
        &__tab-wrap {
            display: flex;
            width: 100%;
            margin-top: px-to-vw(5);
            justify-content: space-evenly;
            align-items: center;
        }
        %__tab {
            padding: 0 px-to-vw(40);
        }
        &__tab {
            &--share {
                @extend %__tab;
                color: $light-gray;
            }
            &--heart {
                @extend %__tab;
                display: flex;
                color: $orange;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &--bookmark {
                @extend %__tab;
                color: $mystic;
            }
        }
        &__likes {
            margin-bottom: 0;
            font-size: 1rem;
        }
        &__icon {
            &--share,
            &--heart,
            &--bookmark {
                font-size: 2.4rem;
            }
        }
        &__border {
            width: 0.5px;
            height: px-to-vw(26);
            background-color: $light-gray;
        }

        &__h2 {
            margin: 0;
            font-size: 1.4rem;
            font-weight: bold;
            color: $navy;
        }
        &__content-wrap {
            width: px-to-vw(290);
            margin: px-to-vw(40) auto;
        }
    }
}
