@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .map-screen {
        position: relative;
        width: 100vw;
        height: 100vh;
        &__pin {
            position: relative;
            bottom: calc(#{px-to-vw(53)});
            right: calc(#{px-to-vw(38)} / 2);
            width: px-to-vw(38);
            height: px-to-vw(53);
        }
    }
}
