@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .map-screen {
        position: relative;
        width: 100vw;
        height: 100vh;
        &__header {
            z-index: 1;
            display: flex;
            position: absolute;
            top: px-to-vw(19.5);
            left: px-to-vw(12);
            width: px-to-vw(319);
            //justify-content: space-between;
            align-items: center;
        }
        &__close {
            font-size: 2.2rem;
            color: $navy;
            margin-bottom: px-to-vh(0);
        }
        &__pin {
            position: relative;
            bottom: calc(#{px-to-vw(53)});
            right: calc(#{px-to-vw(38)} / 2);
            width: px-to-vw(38);
            height: px-to-vw(53);
        }
        &__add-btn {
            z-index: 1;
            position: absolute;
            left: px-to-vw(112);
            bottom: px-to-vw(23);
            width: px-to-vw(150);
            height: px-to-vw(40);
            background-color: $navy;
            opacity: 0.9;
            color: $white;
            -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
            &:disabled {
                background-color: $light-navy;
            }
        }
    }

    .location-search {
        display: flex;
        position: absolute;
        left: px-to-vw(37);
        padding: 4px px-to-vw(8);
        width: px-to-vw(270);
        height: px-to-vw(40);
        -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);

        //border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.9);
        justify-content: space-between;
        align-items: center;
        &__map-icon {
            width: px-to-vw(14);
            height: px-to-vw(20);
        }
        &__search-input {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            margin: 0 px-to-vw(8);
            font-size: 1.2rem;
            border-bottom: solid 1px $navy;
            &:focus {
                outline: none;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
        &__search-icon {
            font-size: 1.1rem;
            color: $light-gray;
        }
    }
}
