@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .post-screen {
        background-size: cover;
        &__map-wrap {
            z-index: 1;
            position: fixed;
            top: 100vh;
            left: 0;
            transition: all 300ms 0s ease;
            &--shown {
                top: 0vh;
            }
        }
    }

    .post-header {
        &__icons {
            z-index: 1;
            display: flex;
            position: absolute;
            width: 100%;
            margin-top: calc(#{$header-top} + #{px-to-vh(12)});
            padding: 0 px-to-vw(13);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__close {
            font-size: 2.4rem;
            color: $gray;
        }
    }

    .post-image {
        position: relative;
        width: 100vw;
        height: px-to-vw(207); // 高さは幅依存
        background-size: cover;

        &:before {
            position: absolute;
            width: 100%;
            height: px-to-vw(207);
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.3),
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 0.95)
            );
            content: "";
        }
        &__plus-image-wrap {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        &__plus-image {
            z-index: 1;
        }
        &__post-infos {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: px-to-vw(13) px-to-vw(14);
        }
        &__title {
            margin-bottom: 0;
            font-size: 1.4rem;
            font-weight: bold;
        }
        &__term-people {
            margin-bottom: 0;
            font-size: 1.2rem;
        }
        &__tags {
            margin-top: px-to-vw(5);
        }
    }

    .post-image-user-info {
        width: px-to-vw(121);
        margin-bottom: px-to-vh(7);
        &__user-icon {
            font-size: 3rem;
        }
        &__name-wrap {
            width: px-to-vw(84);
            height: px-to-vh(23);
            &:before,
            &:after {
                width: px-to-vw(6);
                border-top-width: 2.6px;
                border-bottom-width: 2.6px;
            }
            &:before {
                border-left-width: 2.6px;
            }
            &:after {
                border-right-width: 2.6px;
            }
        }
        &__name {
            font-size: 1.1rem;
        }
    }

    .header-tag {
        margin-right: px-to-vw(8);
        padding: 0 10px;
        &__name {
            margin: 0 auto;
            font-size: 1.2rem;
        }
    }

    .progress-map {
        position: relative;
        margin: px-to-vw(20) 0 px-to-vw(-20);

        &__wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__name-wrap {
            display: flex;
            width: px-to-vw(219);
            color: $navy;
            font-size: 1.2rem;
            justify-content: space-between;
            align-items: center;
        }
        &__progress-img {
            width: px-to-vw(213);
            height: px-to-vw(18);
        }
        &__circle {
            position: relative;
            top: px-to-vw(-14);
            margin: 0 auto;
            width: px-to-vw(10);
            height: px-to-vw(10);
            border-radius: 100%;
            background-color: $navy;
        }
    }

    .post {
        &__content-wrap {
            width: px-to-vw(290);
            margin: px-to-vw(40) auto;
        }

        &__h2 {
            margin: 0;
            font-size: 1.4rem;
            font-weight: bold;
            color: $navy;
        }

        &__row-flex-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            width: px-to-vw(227);
            border: none;
            border-bottom: 1px solid $navy;
            &:focus {
                outline: none;
            }
        }

        &__switch-btn-wrap {
            display: flex;
            width: px-to-vw(56);
            justify-content: center;
        }

        %__public-switch-btn {
            background-color: $white;
            font-weight: normal;
            position: relative;
            top: px-to-vh(-3);
        }

        &__public-switch-btn {
            &--public {
                @extend %__public-switch-btn;
                border: 1px solid $light-blue;
                color: $light-blue;
            }
            &--private {
                @extend %__public-switch-btn;
                border: 1px solid $light-gray;
                color: $light-gray;
            }
        }

        &__tag-input {
            width: px-to-vw(231);
        }

        &__tag-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: px-to-vh(17);
        }
        &__date-wrap {
            display: flex;
            flex-direction: row;
            margin-top: px-to-vw(9);
        }
        &__date {
            width: px-to-vw(137);
        }
        &__datebar {
            margin: auto px-to-vw(5);
        }

        &__people-input-wrap {
            display: flex;
            flex-direction: row;
            margin-top: px-to-vw(9);
        }
        &__people {
            width: px-to-vw(55);
        }
        &__nin {
            margin: px-to-vw(5) px-to-vw(6) 0;
        }

        &__next-wrap {
            width: px-to-vw(103);
            margin: 0 auto;
        }
    }

    .post-overview-tag {
        margin-bottom: px-to-vw(10);
        margin-right: px-to-vw(10);
        padding: 0 10px;
        &__name {
            margin-right: 10px;
            font-size: 1.2rem;
        }
    }

    // ここから場所入力画面

    .edit-itinerary {
        color: $navy;
        margin-bottom: px-to-vw(73);
    }

    .edit-daily-itinerary {
        &__date-wrap {
            display: flex;
            align-items: center;
            //margin: px-to-vw(3) 0;
        }
        &__date-border {
            height: 2px;
            margin-right: px-to-vw(5);
            background-color: $light-blue;
            flex-basis: 85%;
        }
        &__date {
            margin-bottom: px-to-vw(6);
            font-size: 1rem;
            font-weight: bold;
            color: $light-blue;
            flex-basis: 20%;
        }
        &__add-place {
            display: flex;
            align-items: center;

            margin-left: px-to-vw(14);
        }
        &__p {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0;
            margin-left: px-to-vw(7);
        }
        &__plus {
            font-weight: bold;
            margin-left: px-to-vw(7);
        }
        &__map-icon {
            width: px-to-vw(14);
            height: px-to-vw(20);
        }

        &__add-place-detail-wrap {
            width: auto;
            height: auto;
            //margin-top: px-to-vw(9);
            margin-left: px-to-vw(14);
            margin-bottom: px-to-vw(9);
        }
        &__place-detail {
            margin-left: px-to-vw(6);
            margin-top: px-to-vw(6);
        }
    }

    .edit-place {
        position: relative;
        display: flex;
        width: px-to-vw(232);
        justify-content: space-between;

        &__map-icon {
            width: px-to-vw(14);
            height: px-to-vw(20);
            margin: px-to-vw(3) 0;
        }

        &__input {
            width: px-to-vw(149);
        }

        %__weather {
            font-size: 2.4rem;
        }
        &__weather {
            @extend %__weather;
            &--sun {
                @extend %__weather;
                color: $orange;
            }
            &--cloud {
                @extend %__weather;
                color: $gray;
            }
            &--rain {
                @extend %__weather;
                color: $navy;
            }
            &--snow {
                @extend %__weather;
                color: $light-blue;
            }
            &--night {
                @extend %__weather;
                color: $yellow;
            }
        }
    }

    .rating-box {
        z-index: 1000;
        position: absolute;
        top: calc(100% + #{px-to-vw(9)});
        left: px-to-vw(146);
        display: flex;
        width: px-to-vw(130);
        height: px-to-vw(51);
        padding: 0 px-to-vw(16);
        border-radius: px-to-vw(7);
        box-shadow: 0 px-to-vw(1) px-to-vw(4) rgba(0, 0, 0, 0.25);
        background-color: $white;
        font-size: 2.4rem;
        justify-content: space-between;
        align-items: center;
        &__bad {
            opacity: 0.4;
        }
        &__soso {
            opacity: 0.4;
        }
        &__good {
            opacity: 0.4;
        }
        &__bad-selected {
            filter: drop-shadow($icon-drop-shadw);
        }
        &__soso-selected {
            filter: drop-shadow($icon-drop-shadw);
        }
        &__good-selected {
            filter: drop-shadow($icon-drop-shadw);
        }
    }

    .weather-box {
        z-index: 1000;
        display: flex;
        position: absolute;
        top: calc(100% + #{px-to-vw(9)});
        left: px-to-vw(75);
        width: px-to-vw(201);
        height: px-to-vw(51);
        padding: 0 px-to-vw(8);
        border-radius: px-to-vw(7);
        box-shadow: 0 px-to-vw(1) px-to-vw(4) rgba(0, 0, 0, 0.25);
        background-color: $white;
        font-size: 2.4rem;
        justify-content: space-between;
        align-items: center;

        &__sun {
            color: rgba($orange, 0.4);
        }
        &__cloud {
            color: rgba($gray, 0.4);
        }
        &__rain {
            color: rgba($navy, 0.4);
        }
        &__snow {
            color: rgba($light-blue, 0.4);
        }
        &__night {
            color: rgba($yellow, 0.4);
        }
        &__sun-selected {
            color: $orange;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__cloud-selected {
            color: $gray;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__rain-selected {
            color: $navy;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__snow-selected {
            color: $light-blue;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__night-selected {
            color: $yellow;
            filter: drop-shadow($icon-drop-shadw);
        }
    }

    .edit-place-detail {
        display: flex;

        &__left {
            width: 1px;
            height: auto;
            background-color: $navy;
            margin-right: px-to-vw(14);
        }

        &__right {
            display: flex;
            flex-direction: column;
        }

        &__plus-img-wrap {
            display: flex;
            flex-direction: row;
            margin: px-to-vw(13) 0;
            & p {
                margin: px-to-vw(3) 0;
            }
        }

        &__plus-img {
            width: px-to-vw(26);
            height: px-to-vw(22);
            margin-right: px-to-vw(6);
        }

        &__image-wrap {
            position: relative;
            width: px-to-vw(151);
            height: px-to-vw(79);
            margin-bottom: px-to-vw(17);
        }

        &__image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: px-to-vw(6);
        }

        &__delete-image {
            position: absolute;
            top: 0;
            right: px-to-vw(-10);
            font-size: 1rem;
            color: $light-gray;
        }
    }

    .comment-area {
        position: relative;
        width: px-to-vw(200);
        height: px-to-vw(103);
        margin-bottom: px-to-vw(25);
        padding: px-to-vw(5);
        border: solid $navy 1px;
        border-radius: 7px;
        &__header {
            display: flex;
            flex-direction: row;
        }
        &__title {
            font-size: 1.2rem;
            margin-right: px-to-vw(110);
            margin-bottom: 0;
        }
        &__edit-icon {
            margin-right: px-to-vw(6);
        }
        &__textarea {
            resize: none;
            border: none;
            width: px-to-vw(185);
            height: px-to-vw(75);
        }
        %__progress {
            position: absolute;
            bottom: px-to-vw(-17);
            right: px-to-vw(2);
            margin-bottom: 0;
            font-size: 1rem;
        }
        &__progress {
            @extend %__progress;
            color: $gray;
            &--over {
                @extend %__progress;
                color: $orange;
            }
        }
    }

    .edit-transport {
        margin-bottom: px-to-vw(13);
        &__title {
            font-size: 1.2rem;
        }
        &__walking-icon {
            font-size: 1.6rem;
            margin-right: px-to-vw(6);
        }
        &__select-transport {
            position: relative;
            display: flex;
            flex-direction: row;
            color: $gray;
            margin-left: px-to-vw(15);
        }
        &__select-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $light-navy;
            margin-right: px-to-vw(13);
            margin-bottom: px-to-vw(7);
        }
        &__selected {
            margin-bottom: 0;
        }
        &__selected-icon {
            font-size: 1.1rem;
            margin-top: px-to-vw(3);
            margin-right: px-to-vw(5);
        }
        &__message {
            margin-left: px-to-vw(8);
            margin-bottom: 0;
            font-size: 1rem;
            color: $gray;
        }
        &__detail-wrap {
            margin-left: px-to-vw(12);
        }
        &__detail {
            width: px-to-vw(185);
        }
    }

    .selected-icon {
        &__walking {
            font-size: 1.1rem;
            transform: rotate(90deg);
        }
        &__bicycle,
        &__car,
        &__bus,
        &__train,
        &__ship,
        &__airplane {
            font-size: 1.1rem;
        }
        &__none {
            width: px-to-vw(14);
            height: px-to-vw(14);
            &--selected {
                width: px-to-vw(14);
                height: px-to-vw(14);
            }
        }
    }

    .transport-box {
        z-index: 1000;
        position: absolute;
        display: flex;
        top: px-to-vw(18);
        left: 0;
        width: px-to-vw(101);
        height: px-to-vw(235);
        padding: px-to-vw(10) px-to-vw(12);
        border-radius: px-to-vw(7);
        box-shadow: 0 px-to-vw(1) px-to-vw(4) rgba(0, 0, 0, 0.25);
        background-color: $white;
        font-size: 1rem;
        color: $light-blue;
        flex-direction: column;
        justify-content: space-between;

        &__row {
            display: flex;
            align-items: center;
        }
        &__name {
            margin-bottom: 0;
            margin-left: px-to-vw(6);
            &--selected {
                margin-bottom: 0;
                margin-left: px-to-vw(6);
                color: $light-navy;
            }
        }
        &__icon-wrap {
            width: px-to-vw(15);
            text-align: left;
        }
        &__walking {
            transform: rotate(90deg);
            &--selected {
                transform: rotate(90deg);
            }
        }
        &__walking,
        &__bicycle,
        &__car,
        &__bus,
        &__train,
        &__ship,
        &__airplane {
            font-size: 1.1rem;
            &--selected {
                color: $light-navy;
            }
        }
        &__none {
            width: px-to-vw(13);
            height: px-to-vw(13);
            &--selected {
                width: px-to-vw(13);
                height: px-to-vw(13);
            }
        }
    }

    .box-overlay {
        display: block;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    //ここから確認画面
    .itinerary {
        color: $navy;
        margin-bottom: px-to-vw(73);

        &__date-wrap {
            display: flex;
            align-items: center;
            //margin: px-to-vw(3) 0;
        }
        &__date-border {
            height: 2px;
            margin-right: px-to-vw(5);
            background-color: $light-blue;
            flex-basis: 85%;
        }
        &__date {
            margin-bottom: px-to-vw(6);
            font-size: 1rem;
            font-weight: bold;
            color: $light-blue;
            flex-basis: 20%;
        }

        /*
        &__add-place {
            display: flex;
            align-items: center;

            margin-left: px-to-vw(14);
        }
        &__p {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0;
            margin-left: px-to-vw(7);
        }
        &__plus {
            font-weight: bold;
            margin-left: px-to-vw(7);
        }
        &__map-icon {
            width: px-to-vw(14);
            height: px-to-vw(20);
        }

        &__add-place-detail-wrap {
            width: auto;
            height: auto;
            //margin-top: px-to-vw(9);
            margin-left: px-to-vw(14);
            margin-bottom: px-to-vw(9);
        }
        &__place-detail {
            margin-left: px-to-vw(6);
            margin-top: px-to-vw(6);
        }
        */
    }

    .place-contents {
        &__row {
            display: flex;
            flex-direction: row;
        }
        &__pin {
            width: px-to-vw(18);
            height: px-to-vw(25);
            margin: px-to-vw(3) 0;
        }
    }

    .place-detail {
        position: relative;
        display: flex;
        width: px-to-vw(232);
        margin: 0 0 px-to-vw(9) px-to-vw(14);

        &__left {
            width: 1px;
            height: auto;
            background-color: $navy;
            margin-right: px-to-vw(14);
        }

        &__right {
            display: flex;
            flex-direction: column;
        }

        &__image {
            position: relative;
            object-fit: cover;
            width: px-to-vw(151);
            height: px-to-vw(79);
            border-radius: px-to-vw(6);
            margin-bottom: px-to-vw(17);
            margin-top: px-to-vw(10);
        }
    }
}
