@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    .post-screen {
        &__map-wrap {
            z-index: 1;
            position: fixed;
            top: 100vh;
            left: 0;
            transition: all 300ms 0s ease;
            &--shown {
                top: 0vh;
            }
        }
    }

    .post-header {
        &__icons {
            z-index: 1;
            display: flex;
            position: absolute;
            width: 100%;
            margin-top: calc(#{$header-top} + #{px-to-vh(12)});
            padding: 0 px-to-vw(13);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &__close {
            font-size: 2.4rem;
            color: $gray;
        }
    }

    .post-image {
        width: 100vw;
        height: px-to-vw(207); // 高さは幅依存
        background-size: cover;

        &:before {
            //z-index: 5;
            position: absolute;
            width: 100%;
            height: px-to-vw(207);
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.3),
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 0.95)
            );
            content: "";
        }
        &__plus-image-wrap {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        &__plus-image {
            z-index: 1;
        }
    }

    .progress-map {
        position: relative;
        margin: px-to-vw(20) 0 px-to-vw(-20);

        &__wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__name-wrap {
            display: flex;
            width: px-to-vw(219);
            color: $navy;
            font-size: 1.2rem;
            justify-content: space-between;
            align-items: center;
        }
        &__progress-img {
            width: px-to-vw(213);
            height: px-to-vw(18);
        }
        &__circle {
            position: relative;
            top: px-to-vw(-14);
            margin: 0 auto;
            width: px-to-vw(10);
            height: px-to-vw(10);
            border-radius: 100%;
            background-color: $navy;
        }
    }

    .post {
        &__content-wrap {
            width: px-to-vw(290);
            margin: px-to-vw(40) auto;
        }

        &__h2 {
            margin: 0;
            font-size: 1.4rem;
            font-weight: bold;
            color: $navy;
        }

        &__row-flex-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            width: px-to-vw(227);
            border: none;
            border-bottom: 1px solid $navy;
            &:focus {
                outline: none;
            }
        }

        &__public-switch-btn {
            border: 1px solid $light-gray;
            background-color: $white;
            color: $light-gray;
            font-weight: normal;
            position: relative;
            top: px-to-vh(-3);
        }

        &__tag-input {
            width: px-to-vw(231);
        }

        &__tag-wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: px-to-vh(17);
        }
        &__date-wrap {
            display: flex;
            flex-direction: row;
            margin-top: px-to-vw(9);
        }
        &__date {
            width: px-to-vw(137);
        }
        &__datebar {
            margin: auto px-to-vw(5);
        }

        &__people-input-wrap {
            display: flex;
            flex-direction: row;
            margin-top: px-to-vw(9);
        }
        &__people {
            width: px-to-vw(55);
        }
        &__nin {
            margin: px-to-vw(5) px-to-vw(6) 0;
        }

        &__next-wrap {
            width: px-to-vw(103);
            margin: 0 auto;
        }
    }

    // ここから場所入力画面

    .edit-itinerary {
        color: $navy;
        margin-bottom: px-to-vw(73);
    }

    .edit-daily-itinerary {
        &__date-wrap {
            display: flex;
            align-items: center;
            //margin: px-to-vw(3) 0;
        }
        &__date-border {
            height: 2px;
            margin-right: px-to-vw(5);
            background-color: $light-blue;
            flex-basis: 85%;
        }
        &__date {
            margin-bottom: px-to-vw(6);
            font-size: 1rem;
            font-weight: bold;
            color: $light-blue;
            flex-basis: 20%;
        }
        &__add-place {
            display: flex;
            align-items: center;

            margin-left: px-to-vw(14);
        }
        &__p {
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 0;
            margin-left: px-to-vw(7);
        }
        &__plus {
            font-weight: bold;
            margin-left: px-to-vw(7);
        }
        &__map-icon {
            width: px-to-vw(14);
            height: px-to-vw(20);
        }

        &__add-place-detail-wrap {
            width: px-to-vw(232);
            height: auto;
            //margin-top: px-to-vw(9);
            margin-left: px-to-vw(14);
            margin-bottom: px-to-vw(9);
        }
        &__place-detail {
            margin-left: px-to-vw(6);
            margin-top: px-to-vw(6);
        }
    }

    .edit-place {
        position: relative;
        display: flex;
        width: px-to-vw(232);
        justify-content: space-between;

        &__map-icon {
            width: px-to-vw(14);
            height: px-to-vw(20);
            margin: px-to-vw(3) 0;
        }

        &__input {
            width: px-to-vw(149);
        }

        %__whether {
            font-size: 2.4rem;
        }
        &__whether {
            @extend %__whether;
            &--sun {
                @extend %__whether;
                color: $orange;
            }
            &--cloud {
                @extend %__whether;
                color: $gray;
            }
            &--rain {
                @extend %__whether;
                color: $navy;
            }
            &--snow {
                @extend %__whether;
                color: $light-blue;
            }
            &--night {
                @extend %__whether;
                color: $yellow;
            }
        }
    }

    .rating-box {
        z-index: 1000;
        position: absolute;
        top: calc(100% + #{px-to-vw(9)});
        left: px-to-vw(146);
        display: flex;
        width: px-to-vw(130);
        height: px-to-vw(51);
        padding: 0 px-to-vw(16);
        border-radius: px-to-vw(7);
        box-shadow: 0 px-to-vw(1) px-to-vw(4) rgba(0, 0, 0, 0.25);
        background-color: $white;
        font-size: 2.4rem;
        justify-content: space-between;
        align-items: center;
        &__bad {
            opacity: 0.4;
        }
        &__soso {
            opacity: 0.4;
        }
        &__good {
            opacity: 0.4;
        }
        &__bad-selected {
            filter: drop-shadow($icon-drop-shadw);
        }
        &__soso-selected {
            filter: drop-shadow($icon-drop-shadw);
        }
        &__good-selected {
            filter: drop-shadow($icon-drop-shadw);
        }
    }

    .whether-box {
        z-index: 1000;
        position: absolute;
        top: calc(100% + #{px-to-vw(9)});
        left: px-to-vw(75);
        display: flex;
        width: px-to-vw(201);
        height: px-to-vw(51);
        padding: 0 px-to-vw(8);
        border-radius: px-to-vw(7);
        box-shadow: 0 px-to-vw(1) px-to-vw(4) rgba(0, 0, 0, 0.25);
        background-color: $white;
        font-size: 2.4rem;
        justify-content: space-between;
        align-items: center;

        &__sun {
            color: rgba($orange, 0.4);
        }
        &__cloud {
            color: rgba($gray, 0.4);
        }
        &__rain {
            color: rgba($navy, 0.4);
        }
        &__snow {
            color: rgba($light-blue, 0.4);
        }
        &__night {
            color: rgba($yellow, 0.4);
        }
        &__sun-selected {
            color: $orange;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__cloud-selected {
            color: $gray;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__rain-selected {
            color: $navy;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__snow-selected {
            color: $light-blue;
            filter: drop-shadow($icon-drop-shadw);
        }
        &__night-selected {
            color: $yellow;
            filter: drop-shadow($icon-drop-shadw);
        }
    }

    .edit-place-detail {
        display: flex;

        &__left {
            width: 1px;
            height: auto;
            background-color: $navy;
            margin-right: px-to-vw(14);
        }

        &__plus-img-wrap {
            display: flex;
            flex-direction: row;
            margin: px-to-vw(13) 0;
            & p {
                margin: px-to-vw(3) 0;
            }
        }
        &__plus-img {
            width: px-to-vw(26);
            height: px-to-vw(22);
            margin-right: px-to-vw(6);
        }
    }

    .comment-area {
        width: px-to-vw(200);
        height: px-to-vw(103);
        border: solid $navy 1px;
        border-radius: 7px;
        padding: px-to-vw(5);
        margin-bottom: px-to-vw(25);
        &__header {
            display: flex;
            flex-direction: row;
        }

        &__p {
            font-size: 1.2rem;
            margin-right: px-to-vw(110);
            margin-bottom: 0;
        }
        &__edit-icon {
            margin-right: px-to-vw(6);
        }
        &__textarea {
            resize: none;
            border: none;
            width: px-to-vw(185);
            height: px-to-vw(75);
        }
    }

    .edit-transposrt {
        margin-bottom: px-to-vw(13);
        &__title {
            font-size: 1.2rem;
        }
        &__walking-icon {
            font-size: 1.6rem;
            margin-right: px-to-vw(6);
        }
        &__select-transport {
            display: flex;
            flex-direction: row;
            color: $gray;
            margin-left: px-to-vw(15);
        }
        &__select-wrap {
            display: flex;
            flex-direction: row;
            color: $light-navy;
            margin-right: px-to-vw(13);
        }
        &__shoe-prints-icon {
            font-size: 1.1rem;
            margin-top: px-to-vw(3);
            margin-right: px-to-vw(3);
        }
        &__detail-wrap {
            margin-left: px-to-vw(12);
        }
        &__detail {
            width: px-to-vw(185);
        }
    }

    .box-overlay {
        display: block;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
