@import "variables";
@import "function";

// @include md-down()内部にstyleを記述すると、スマートフォンサイズでメディアクエリがかかるようになる
@include md-down() {
    //スタイルはここに書くこと

    .register {
        width: 100vw;
        height: 100vh;
        padding-top: $header-top;
        background-image: url("../assets/register_background.png");
        background-size: cover;
        &__icon {
            margin-top: px-to-vh(16);
            margin-left: px-to-vw(11);
            color: $white;
            font-size: 2.4rem;
        }
        &__content {
            display: flex;
            position: absolute;
            top: 0px;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__logo {
            text-align: center;
        }
        &__logo-img {
            width: px-to-vw(204);
            height: auto;
        }
    }
    .regist-form {
        width: px-to-vw(315);
        height: auto;
        margin: px-to-vh(25) auto 0px;
        padding: px-to-vh(10) 0;
        border-radius: 17px;
        background-color: white;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;

        &__button {
            width: px-to-vw(246);
            height: px-to-vh(33);
            margin-top: px-to-vh(10);
            border: none;
            border-radius: 8px;
            background-color: $yellow;
            color: #fff;
            text-align: center;
            text-decoration: none;
            &:hover {
                background-color: rgba(252, 190, 50, 0.5);
            }
            &:focus {
                outline: none;
            }
        }
    }

    .form-input {
        display: flex;
        width: px-to-vw(246);
        margin: px-to-vh(20) auto 0px; //これと
        text-align: center; //これで画面真ん中に
        flex-direction: column;
        &__label {
            text-align: left;
            font-size: 1.4rem;
            font-weight: bold;
            color: $light-blue;
            margin-bottom: px-to-vh(10);
        }
        &__input {
            padding: px-to-vh(2) px-to-vw(10);
            border: none;
            border-bottom: 1px solid $light-blue;
            background-color: transparent;
            &:focus {
                border-bottom: 1px solid $navy-blue;
                outline: none;
            }
        }
    }

    .password__icon {
        position: relative;
        top: px-to-vh(-15);
        left: px-to-vw(226);
        color: $light-blue;
    }

    .register-with-sns {
        p {
            margin-top: px-to-vh(30);
            margin-bottom: px-to-vh(10);
            color: $light-blue;
            font-size: 1.4rem;
            font-weight: bold;
            &.line:after {
                display: inline-block;
                width: 20%;
                height: px-to-vh(1);
                margin: 0 0 px-to-vh(3) px-to-vw(10);
                background-color: $light-blue;
                content: " ";
            }
            &.line:before {
                display: inline-block;
                width: 20%;
                height: px-to-vh(1);
                margin: 0 px-to-vw(10) px-to-vh(3) 0;
                background-color: $light-blue;
                content: " ";
            }
        }
        &__icon-twitter {
            margin-right: px-to-vw(65);
            color: $light-blue;
            font-size: 4.2rem;
        }
        &__icon-facebook {
            color: $light-blue;
            font-size: 4.2rem;
        }
    }

    .confirm-msg {
        width: px-to-vw(246);
        margin: px-to-vh(25) auto 0px;
        text-align: center; //これで画面真ん中に
        color: $light-blue;
        &__link {
            font-weight: bold;
            color: $navy-blue;
        }
    }
}
